@page

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SPISOK-2024 registration</title>
</head>
<body>
<div>
    <p>SPISOK-2024 conference will be (likely) held in April in St. Petersburg.</p>
    <a asp-page="Registration">Register now!</a>
</div>
</body>
</html>